@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>
        @*<a href="#" data-toggle="modal" data-target="#changePassword">Change Password</a>*@
    </li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", }))
    {
        @Html.AntiForgeryToken()
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
        </li>
    }
}
