<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <!--LIVE DB STRING-->
    <!--<add name="DefaultConnection" connectionString="Data Source=DOTNETSERVER;Initial Catalog=Evolution;UID=sa;pwd=sa@2014; Integrated Security=false " providerName="System.Data.SqlClient"/>
    <add name="EvolutionEntities" connectionString="metadata=res://*/DataModel.HRTool.csdl|res://*/DataModel.HRTool.ssdl|res://*/DataModel.HRTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DOTNETSERVER;initial catalog=Evolution;user id=sa;password=sa@2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Live DB String (32) -->

    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-4DT4QR1\SQLSERVER2014;Initial Catalog=HrTool_Local;UID=sa;pwd=sa@2014; Integrated Security=false " providerName="System.Data.SqlClient" />
    <add name="EvolutionEntities" connectionString="metadata=res://*/DataModel.HRTool.csdl|res://*/DataModel.HRTool.ssdl|res://*/DataModel.HRTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4DT4QR1\SQLSERVER2014;initial catalog=HrTool_Local;user id=sa;password=sa@2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->


    <!--Local DB STRING-->

    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-TKTCFAS;Initial Catalog=Hrtool;UID=sa;pwd=sa@2014; Integrated Security=false " providerName="System.Data.SqlClient" />
    <add name="EvolutionEntities" connectionString="metadata=res://*/DataModel.HRTool.csdl|res://*/DataModel.HRTool.ssdl|res://*/DataModel.HRTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TKTCFAS;initial catalog=Hrtool;user id=sa;password=sa@2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="DefaultConnection" connectionString="Data Source=ARHAM19-PC\SQLEXPRESS;Initial Catalog=Evolution_New_211212017;UID=sa;pwd=arhamtech; Integrated Security=false " providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=50.63.160.88\SQLEXPRESS;Initial Catalog=Evolution;UID=sa;pwd=Evalution@123; Integrated Security=false " providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=50.63.160.88\SQLEXPRESS;Initial Catalog=Evolution;UID=sa;pwd=Evolution@123; Integrated Security=false " providerName="System.Data.SqlClient" />
  <add name="EvolutionEntities" connectionString="metadata=res://*/DataModel.HRTool.csdl|res://*/DataModel.HRTool.ssdl|res://*/DataModel.HRTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=50.63.160.88\SQLEXPRESS;initial catalog=Evolution;integrated security=False;user id=sa;password=Evolution@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
    <!--<add name="DefaultConnection" connectionString="Data Source=PC1\SQLEXPRESS;Initial Catalog=Evolution_20042018;UID=sa;pwd=arhamtech; Integrated Security=false " providerName="System.Data.SqlClient" />
    <add name="EvolutionEntities" connectionString="metadata=res://*/DataModel.HRTool.csdl|res://*/DataModel.HRTool.ssdl|res://*/DataModel.HRTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC1\SQLEXPRESS;initial catalog=Evolution_20042018;integrated security=False;user id=sa;password=arhamtech;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="DefaultConnection" connectionString="Data Source=PC1\SQLEXPRESS;Initial Catalog=Evolution;UID=sa;pwd=arhamtech; Integrated Security=false " providerName="System.Data.SqlClient" />
    <add name="EvolutionEntities" connectionString="metadata=res://*/DataModel.HRTool.csdl|res://*/DataModel.HRTool.ssdl|res://*/DataModel.HRTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC1\SQLEXPRESS;initial catalog=Evolution;integrated security=False;user id=sa;password=arhamtech;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <!--<add name="DefaultConnection" connectionString="Data Source=PC1\SQLEXPRESS;Initial Catalog=Evolution_20042018;UID=sa;pwd=arhamtech; Integrated Security=false " providerName="System.Data.SqlClient" />
  <add name="EvolutionEntities" connectionString="metadata=res://*/DataModel.HRTool.csdl|res://*/DataModel.HRTool.ssdl|res://*/DataModel.HRTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC1\SQLEXPRESS;initial catalog=Evolution_20042018;integrated security=False;user id=sa;password=arhamtech;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="baseURL" value="http://localhost:10354/" />
    <add key="ResourceFilePath" value="~/Upload/Resources/" />
    <add key="SkillSetFilePath" value="~/Upload/SkillSets/" />
    <add key="CoustomerFilePath" value="~/Upload/Coustomer/" />
    <add key="CmpCustomerFilePath" value="~/Upload/CompanyCustomer/" />
    <add key="CompanyLogoFilePath" value="~/Upload/Company/" />
    <add key="AssetsFilePath" value="~/Upload/Assets/" />
    <add key="BenefitDocument" value="~/Upload/Resources/Benifits" />
    <add key="AdminCaseLog" value="~/Upload/AdminCaseLog" />
    <add key="AdminTraining" value="~/Upload/AdminTraining" />
    <add key="AdminVisa" value="~/Upload/AdminVisa" />
    <add key="AdminTask" value="~/Upload/AdminTask" />
    <add key="AdminCertificate" value="~/Upload/AdminCertificate" />
    <add key="AdminVacancy" value="~/Upload/AdminVacancy/" />
    <add key="TMSApplicant" value="~/Upload/TMSApplicant/" />
    <add key="Planner_OtherLeave" value="~/Upload/Resources/Planner/OtherLeave" />
    <add key="Planner_TravelLeave" value="~/Upload/Resources/Planner/TravelLeave" />
    <add key="Planner_TimeSheet" value="~/Upload/Resources/Planner/TimeSheet" />
    <add key="Planner_SickLeave" value="~/Upload/Resources/Planner/SickLeave" />
    <add key="Planner_MPLeave" value="~/Upload/Resources/Planner/MaternityOrPaternityLeave" />
    <add key="AdminDocument" value="~/Upload/AdminDocument/" />
    <add key="EmployeeDocument" value="~/Upload/Resources/EmployeeDocument/" />
    <add key="defaultpassword" value="inx@!123" />
    <add key="ProjectPlanner_TimeSheet" value="~/Upload/Resources/ProjectPlanner/TimeSheet" />
    <add key="ProjectPlanner_Uplift" value="~/Upload/Resources/ProjectPlanner/Uplift" />
    <add key="ProjectPlanner_TravelLeave" value="~/Upload/Resources/ProjectPlanner/TravelLeave" />
    <add key="Performance_Goal" value="~/Upload/Resources/GoalDocument" />
    <add key="SecurityKey" value="tu89geji340t89u2" />
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="2880" />
    </authentication>
    <sessionState timeout="20"></sessionState>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>