@model HRTool.Models.Resources.MainResoureViewModel

<div class="row marbot10">
    <label class="col-md-3">Title*</label>
    <div class="col-md-6 dropdown">
        <select class="form-control" id="drpTitle">
            @foreach (var Title in Model.TitleList)
            {
                <option value="@Title.Value">@Title.Text</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="ValidTitle" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
    </div>
</div>
<div class="row marbot10">
    <label class="col-md-3">First Name*</label>
    <div class="col-md-6">
        <input type="text" name="FirstName" class="form-control" id="FirstName" value="" placeholder="First name">
        <span class="form-control-bar"></span>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="ValidFirstName" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
    </div>
</div>
<div class="row marbot10">
    <label class="col-md-3">Last Name*</label>
    <div class="col-md-6">
        <input type="text" name="LastName" class="form-control" id="LastName" value="" placeholder="Last name">
        <span class="form-control-bar"></span>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="ValidLastName" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
    </div>
</div>
<div class="row marbot10">
    <label class="col-md-3">Other Name(s)</label>
    <div class="col-md-6">
        <input type="text" name="OtherName" class="form-control" id="OtherName" value="" placeholder="Other name">
        <span class="form-control-bar"></span>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="ValidOtherName" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
    </div>
</div>
<div class="row marbot10">
    <label class="col-md-3">Known as</label>
    <div class="col-md-6">
        <input type="text" name="Knownas" class="form-control" id="Knownas" value="" placeholder="Know as">
        <span class="form-control-bar"></span>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="ValidKnownas" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
    </div>
</div>
<div class="row marbot10" style="display:none">
    <label class="col-md-3">SSO *</label>
    <div class="col-md-6">
        <input type="text" name="SSO" class="form-control" id="SSO" value="@Model.SSO">
        <span class="form-control-bar"></span>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="ValidSSO" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
    </div>
</div>
<div class="row marbot10">
    <label class="col-md-3">Email*</label>
    <div class="col-md-6">
        <input type="text" name="Email" class="form-control" id="Email" value="" placeholder="Email">
        <span class="form-control-bar"></span>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="ValidEmail" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
    </div>
</div>
<div class="row marbot10">
    <label class="col-md-3">Work Phone</label>
    <div class="col-md-6">
        <input type="number" name="WorkPhone" class="form-control" id="WorkPhone" value="" min="0" />
        <span class="form-control-bar"></span>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="ValidWorkPhone" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
    </div>
</div>
<div class="row marbot10">
    <label class="col-md-3">Mobile</label>
    <div class="col-md-6">
        <input type="number" name="WorkMobile" class="form-control" id="WorkMobile" value="" min="0"/>
        <span class="form-control-bar"></span>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="ValidWorkMobile" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
    </div>
</div>
<div class="row marbot10">
    <label class="col-md-3">Customer Care(s)*</label>
    <div class="col-md-6">
        <input type="hidden" id="selectID" />
        <input type="text" class="awesomplete form-control" id="CustomerCare" size="70" value="" placeholder="Employee Name" />
        <span class="form-control-bar"></span>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="ValidCustomerCare" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none">Please Select Customer Care.</span>
    </div>
</div>

<div class="row marbot10">
    <label class="col-md-3">Gender*</label>
    <div class="col-md-6">
        <label class="radio-btn">
            <input type="radio" name="Gender" id="MaleId" value="1" checked>
            <span>Male</span>
        </label>
        <label class="radio-btn">
            <input type="radio" name="Gender" id="FemaleId" value="0">
            <span>Female</span>
        </label>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="ValidGender" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
    </div>
</div>
<div class="row marbot10">
    <label class="col-md-3">Date Of Birth*</label>
    <div class="col-md-6">
        <input type="text" name="DateOfBirth" class="form-control Datepiker" id="DateOfBirth" value="">
        <span class="form-control-bar"></span>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="ValidDateOfBirth" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
        <span class="field-validation-error" id="validAge" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none">Please Select Valid Age Of Employee.</span>

    </div>
</div>
<div class="row marbot10">
    <label type="file" for="fileToUpload" class="col-md-3">
        Upload Image
    </label>
    <div class="col-md-6">
        <input type="hidden" id="ImageData" value="" />
        <label type="file" for="fileToUpload" class="btn btn-clr md-btn-primary">BROWSE</label>
        <input type="file" id="fileToUpload" accept=".jpg,.jpeg,.bmp,.png" style="display: none">
        @if (!string.IsNullOrEmpty(Model.Picture))
        {
            <img src="~/Upload/Resource/@Model.Picture" class="editpic" />
        }
        else
        {
            <img src="~/Images/no-image.jpg" class="editpic" />
        }
    </div>
</div>
<script>
    var constCustomer = {
        getEmpCustomerCare:'@Url.Action("getEmployeeCustomerCare","Employee")',
    };

</script>
<script>
    getEmployeeCustomerCareData();
    function getEmployeeCustomerCareData()
    {
        var listData = [];        
        $.ajax({
            url: constCustomer.getEmpCustomerCare,
            data: {},
            success: function (data) {
                $.each(data.EmployeeCustomerCare, function (index, item) {
                    listData.push(item.Text, item.Value);
                });
                var input = document.getElementById("CustomerCare");
                debugger;
                var awesomplete = new Awesomplete(input, {
                    minChars: 1,
                    maxItems: 5,
                    autoFirst: true,
                    filter: function (text, input) {
                        return Awesomplete.FILTER_CONTAINS(text, input.match(/[^,]*$/)[0]);
                    },
                    replace: function (text) {
                        var before = this.input.value.match(/^.+,\s*|/)[0];
                        this.input.value = before + text + ", ";
                        
                    }
                });
                awesomplete.list = listData;
                $('#CustomerCare').change(function () {
                    $("#ValidCustomerCare").hide();
                    var eid = [];
                    value = $('#CustomerCare').val();
                    var x = new Array();
                    debugger;
                    x = value.split(", ");                   
                    for (var i = 0; i < data.EmployeeCustomerCare.length; i++) {
                        for (var j = 0; j < x.length; j++) {
                            if (x[j] == data.EmployeeCustomerCare[i].Text) {                   
                                eid.push(data.EmployeeCustomerCare[i].Value);
                            }
                        }
                    }
                    $("#selectID").val(eid);
                });               
            }
        });

    }


    $("#WorkMobile").keypress(function (event) {
        if (event.which != 8 && event.which != 0 && (event.which < 48 || event.which > 57)) {
            return false;
        }
    });
    $("#WorkPhone").keypress(function (event) {
        if (event.which != 8 && event.which != 0 && (event.which < 48 || event.which > 57)) {
            return false;
        }
    });
</script>