
@model HRTool.Models.Admin.ApplicantRejectReasonViewModel
@{
}
<div id="Applicantwizard" class="swMain">
    <input type="hidden" value="" id="UserId" />
         <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="FirstName">Reject Reason Name*</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="txt_RejectReasonName" value="" data-toggle="tooltip" data-placement="right" name="FirstName" title="First Name" required>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-RejectReasonName" style="display:none;" data-valmsg-for="FirstName" data-valmsg-replace="true">The Reject Reason is required.</span>
            </div>
        </div>
    </div>
</div>