@model HRTool.Models.Resources.ViewSkillsViewModel
<input type="hidden" id="EndrosementCommentId" value="@Model.EndrosementId" />
    <input type="hidden" id="CommentId" value="@Model.Id " />
    <div class="row marbot10">
        <div class="col-md-12">
            <div id="froala-editor"></div>
        </div>
    </div>
    <div class="row marbot10">
        <div class="col-md-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="chk_NotifyEmployees">
                    <span>Notify employees via email</span>
                </label>
            </div>
        </div>
    </div>