@model IList<HRTool.Models.Settings.TechnicalSkillsSetViewModel>

<div id="addTechnicalSkillsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Technical Skill set</h4>
            </div>
            <div class="modal-body" id="addTechnicalSkillsBody">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="btn-submit-addTechnicalSkills">Add</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="table-btns">
    <a class="btn btn-success btn-circle  btn-add-addTechnicalSkills" title="Add task" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#addTechnicalSkillsModal"><i class="fa fa-plus"></i></a>
    <a class="btn btn-primary btn-circle  btn-edit-addTechnicalSkills" title="Edit" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#addTechnicalSkillsModal" disabled="disabled"><i class="fa fa-pencil"></i></a>
    @*<a class="btn btn-primary btn-circle  btn-delete-addTechnicalSkills" title="Delete" disabled="disabled"><i class="fa fa-trash-o"></i></a>*@
</div>

<table id="addTechnicalSkillsTable" class="table-bordered display table style2 table-striped  dataTable" cellspacing="0">
    <thead>
        <tr class="tblHeading">
            <th></th>
            <th>Skill Set Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id" class="dataTr">
                <td style="width:4%;" class="pdng-small">
                    @if (!string.IsNullOrEmpty(item.Picture))
                    {
                        <img src="~/Upload/SkillSets/@item.Picture" class="listpic" />
                    }
                    else
                    {
                        <img src="~/Images/no-image.jpg" class="listpic" />
                    }
                </td>
                <td style="width:45%;">
                    @item.Name
                </td>
                <td style="width:45%;">
                    @item.Description
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th >
                <input type="text" class="form-control SearchSkillSetName" placeholder="Search Skill Set Name">
            </th>
            <th ><input type="text" class="form-control SearchDescription" placeholder="Search Description"></th>
        </tr>
    </tfoot>
</table>
