@model HRTool.Models.Settings.ShareEmployeeReview

<input type="hidden" id="ManagerId" value="@Model.MaanegrId" />
<input type="hidden" id="Employeeid" value="@Model.EmployeeId" />
<div> 
    @if(Model.MaanegrId == 0 || Model.MaanegrId == null)
    {
    <h1 style="color:green"> Mail sent successfully</h1>
    }
    else
    {
    <p>If you share this review your feedback will be made available to @Model.ManagerName. Do you wish to countinue?</p>   
    }
</div>