@model HRTool.Models.Resources.EmployeePerformanceViewModel

<div>
    <input type="hidden" id="PerReviewId" value="@Model.ReviewId" />
    <input type="hidden" id="EmployeeId" value="@Model.EmployeeId" />
    <p>
        Once you have marked this review as complete you will not be able to make any further changes.
        Are you sure you wish to continue?
    </p>
</div>