
@model HRTool.Models.Settings.ShareEmployeeReview
<input type="hidden" id="ManagerId" value="@Model.MaanegrId" />
<input type="hidden" id="Employeeid" value="@Model.EmployeeId" />
<div>
    <p>If you un-share this review your feedback will be made unavailable to @Model.ManagerName. Do you wish to countinue?</p>
</div>