@model HRTool.Models.Resources.EmployeePerformanceViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResourcesLayout.cshtml";
}
<input type="hidden" id="Employee_ID" value="@Model.EmployeeId" />

<form style="display:none;">
    <div class="optionblue employeeperformanceform">
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="">
                    <span class="icnactivereview"></span>
                    <span class="title">Active Reviews</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icnpastreview"></span>
                    <span class="title">Past Reviews</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <div id="page_content_inner">
                    <div class="md-card uk-margin-medium-bottom uk-margin-top">
                        <div class="md-card-content posrezi">
                            <table class="table style2 uk-margin-remove">
                                <tbody>
                                    <tr class="noselect1">
                                        <td style="position:relative;" class="ef-par">
                                            <div style="position:relative;z-index:1;">
                                                <div class="col-md-2">
                                                    <i class="material-icons font50">person</i>
                                                </div>
                                                <div class="col-md-9">
                                                    <h3 class="sm-heading">New Small Review-b - 30-Mar-2017</h3>
                                                    <ul class="numberinfo numberinfo2">
                                                        <li class="">
                                                             <i class="fa fa-user"></i>
                                                            <h5 class="uk-margin-remove">Employee Status</h5>
                                                        </li>
                                                        <li class="">
                                                            <i class="material-icons hide">insert_drive_file</i>
                                                            <i class="material-icons">folder</i>
                                                            <h5 class="uk-margin-remove">Unshared</h5>
                                                        </li>
                                                        <li class="">
                                                            <i class="material-icons">star</i>
                                                            <h5 class="uk-margin-remove">Customer Status</h5>
                                                        </li>
                                                        <li class="">
                                                            <i class="material-icons hide">insert_drive_file</i>
                                                            <i class="material-icons">folder</i>
                                                            <h5 class="uk-margin-remove">Unshared</h5>
                                                        </li>
                                                        <li class="">
                                                            <i class="material-icons">star</i>
                                                            <h5 class="uk-margin-remove">Manager Status</h5>
                                                        </li>
                                                        <li class="">
                                                            <i class="material-icons hide">insert_drive_file</i>
                                                            <i class="material-icons">folder</i>
                                                            <h5 class="uk-margin-remove">Unshared</h5>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-1 uk-margin-large-top arrow-eff">
                                                    <i class="material-icons">navigate_next</i>
                                                </div>
                                            </div>
                                            <div class="fillcolor" style="width: 23%;"></div>
                                        </td>
                                    </tr>                            
                                </tbody>
                            </table>
                            <label class="startnewreview-lab">
                                <a href="" class="btn-startnewreview">
                                    <span class="icnnewmission"></span>
                                    <span class="title">Start a New Review</span>
                                </a>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="page_content_inner">
                    <div class="md-card uk-margin-medium-bottom uk-margin-top">
                        <div class="md-card-content posrezi">
                            <div class="row">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="past-review">
                                                    <ul class="noselect1">
                                                        <li>
                                                            <div class="col-xs-1">
                                                                <img src="/Hrtool/Images/defaultPicture.png" alt="" class="img-responsive">
                                                            </div>
                                                            <div class="col-xs-10">
                                                                <div class="row">
                                                                    <div class="col-xs-5">
                                                                        <div>Reviewed By:</div>
                                                                        <strong>HR Tool Admin</strong>
                                                                    </div>
                                                                    <div class="col-xs-7 text-right" style="margin-top:12px;">
                                                                        New Small Review - 02-Apr-2016
                                                                        <span class="badge">Overall Score: 3</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-1">
                                                                <div class="arrow-eff">
                                                                    <i class="material-icons">navigate_next</i>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </li>
                                                        <li>
                                                            <div class="col-xs-1">
                                                                <img src="/Hrtool/Images/defaultPicture.png" alt="" class="img-responsive">
                                                            </div>
                                                            <div class="col-xs-10">
                                                                <div class="row">
                                                                    <div class="col-xs-5">
                                                                        <div>Reviewed By:</div>
                                                                        <strong>HR Tool Admin</strong>
                                                                    </div>
                                                                    <div class="col-xs-7 text-right" style="margin-top:12px;">
                                                                        New Small Review - 02-Apr-2016
                                                                        <span class="badge">Overall Score: 3</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-1">
                                                                <div class="arrow-eff">
                                                                    <i class="material-icons">navigate_next</i>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </li>
                                                        <li>
                                                            <div class="col-xs-1">
                                                                <img src="/Hrtool/Images/defaultPicture.png" alt="" class="img-responsive">
                                                            </div>
                                                            <div class="col-xs-10">
                                                                <div class="row">
                                                                    <div class="col-xs-5">
                                                                        <div>Reviewed By:</div>
                                                                        <strong>HR Tool Admin</strong>
                                                                    </div>
                                                                    <div class="col-xs-7 text-right" style="margin-top:12px;">
                                                                        New Small Review - 02-Apr-2016
                                                                        <span class="badge">Overall Score: 3</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-1">
                                                                <div class="arrow-eff">
                                                                    <i class="material-icons">navigate_next</i>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </li>
                                                        <li>
                                                            <div class="col-xs-1">
                                                                <img src="/Hrtool/Images/defaultPicture.png" alt="" class="img-responsive">
                                                            </div>
                                                            <div class="col-xs-10">
                                                                <div class="row">
                                                                    <div class="col-xs-5">
                                                                        <div>Reviewed By:</div>
                                                                        <strong>HR Tool Admin</strong>
                                                                    </div>
                                                                    <div class="col-xs-7 text-right" style="margin-top:12px;">
                                                                        New Small Review - 02-Apr-2016
                                                                        <span class="badge">Overall Score: 3</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-1">
                                                                <div class="arrow-eff">
                                                                    <i class="material-icons">navigate_next</i>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="reviewblankstate hide">
                            <span class="spritesheet icnblankstatemission"></span>
                            <p class="title">There are no previous reviews</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



<div class="breadcrumb-nav">
    <button type="button" class="btn-back">Resources</button>
    <div class="icons pull-right">
        <a href="Performance/Export?Id=1287" class="md-btn md-btn-primary md-sm" target="_blank"><i class="material-icons color-wh">print</i> Print</a>
        <a class="md-btn md-btn-primary md-sm"><i class="material-icons color-wh">delete</i> Delete</a>
        <a class="md-btn md-btn-primary md-sm"><i class="material-icons color-wh">share</i> Share</a>
    </div>
</div>
<form>
    <div class="uk-tab first-tab">
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="">
                    <strong>Employee</strong>
                </a>
            </li>
            <li>
                <a href="">
                    <strong>Manager</strong>
                </a>
            </li>
            <li>
                <a href="">
                    <strong>Customer</strong>
                </a>
            </li>
            <li>
                <a href="">
                    <strong>Co-worker</strong>
                </a>
            </li>
            <li>
                <a href="">
                    <strong>Objectives</strong>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="clearfix"></div>
                <p class="uk-margin-top text-center">
                    <span class="customerInTab hide">
                        Customer: <strong>Chintu Patel - W456123565</strong>
                    </span>
                    <strong>4 Completed Segments of 4</strong>
                    <a class="md-btn md-btn-primary md-sm pull-right hide" style="margin-right:10px">
                        <i class="material-icons color-wh">delete</i>Delete This Customer Review
                    </a>
                </p>
                <div class="uk-tab second-tab">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active overallsegment">
                            <a href="">Overview<span class="fa fa-check-circle completed-check"></span></a>
                        </li>
                        <li class="coresegment">
                            <a href="">
                                <strong>01</strong><br>Deserialize JSON with C# <span class="fa fa-check-circle completed-check"></span>
                            </a>
                        </li>
                        <li class="coresegment">
                            <a href="">
                                <strong>02</strong><br>Using the code <span class="fa fa-check-circle completed-check"></span>
                            </a>
                        </li>
                        <li class="jobrolesegment">
                            <a href="">
                                <strong>03</strong><br>or the single, the .NET Framework has <span class="fa fa-check-circle completed-check"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div id="page_content_inner">
                                <h4 class="heading_a uk-margin-bottom cent-heading">Overview</h4>
                                <div class="md-card">
                                    <div >
                                        <div class="row marbot10 ">
                                            <label class="col-md-3 overallsegment1">Overall Score *</label>
                                            <div class="form-control-filled col-md-6">
                                                <select>
                                                    <option>1</option>
                                                    <option>1</option>
                                                    <option>1</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="error-msg hide">
                                                    Select Overall Score
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row marbot10">
                                            <label class="col-md-3 coresegment1">Core Score*</label>
                                            <div class="form-control-filled col-md-6">
                                                <select>
                                                    <option>1</option>
                                                    <option>1</option>
                                                    <option>1</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="error-msg hide">
                                                    Select Core Score
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row marbot10">
                                            <label class="col-md-3 jobrolesegment1">Job Role Score*</label>
                                            <div class="form-control-filled col-md-6">
                                                <select>
                                                    <option>1</option>
                                                    <option>1</option>
                                                   <option>1</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="error-msg hide">
                                                    Select Job Role Score
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row marbot10 ">
                                            <label class="col-md-3">Comments</label>
                                            <div class="form-control-filled col-md-6">
                                                <textarea type="text" class="form-control"></textarea>
                                            </div>
                                            <div class="col-md-3">
                                                <p class="error-msg hide">
                                                    Comments are required
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row marbot10 ">
                                            <label class="col-md-3"></label>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-success">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane">
                        <div class="uk-margin-top">
                            <div class="uk-tab tab-nubric third-tab">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="circle-steps active">
                                        <a href="">
                                            <span class="number active">1</span>
                                            <span class="fa fa-check-circle completed-check"></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div id="page_content_inner">
                                            <h4 class="uk-margin-bottom-remove uk-margin-top text-center cent-heading">Convert a JSON string to a List of C# Objects</h4>
                                            <p class="dec-inn">Convert a JSON string to a List of C# Objects</p>
                                            <div class="md-card uk-margin-top">
                                                <div class="md-card-content">
                                                    <div class="row marbot10">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-10">
                                                            Progress Bar
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                    </div>
                                                    <div class="row marbot10 ">
                                                        <div class="col-md-1"></div>
                                                        <div class="form-control-filled col-md-10">
                                                            <textarea type="text" class="form-control"></textarea>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <p class="error-msg hide">
                                                                Text answer is required
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 col-md-offset-1">
                                                            <button type="submit" class="btn btn-success">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane">
                        <div class="uk-margin-top">
                            <div class="uk-tab tab-nubric third-tab">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="circle-steps active">
                                        <a href="">
                                            <span class="number active">1</span>
                                            <span class="fa fa-check-circle completed-check"></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div id="page_content_inner">
                                            <h4 class="uk-margin-bottom-remove uk-margin-top text-center cent-heading">You're using jQuery or any other way of making XHRs, making some fancy ajax requests, but tired of Request["setting"] to get data from client-side, starving for a strong-typed approach? STOP! I've got just what you need, and supports single object, and even lists of objects (arrays)!</h4>
                                            <p class="dec-inn">You're using jQuery or any other way of making XHRs, making some fancy ajax requests, but tired of Request["setting"] to get data from client-side, starving for a strong-typed approach? STOP! I've got just what you need, and supports single object, and even lists of objects (arrays)!</p>
                                            <div class="md-card uk-margin-top">
                                                <div class="md-card-content">
                                                    <div class="row marbot10">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-10">
                                                            Progress Bar
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                    </div>
                                                    <div class="row marbot10 ">
                                                        <div class="col-md-1"></div>
                                                        <div class="form-control-filled col-md-10">
                                                            <textarea type="text" class="form-control"></textarea>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <p class="error-msg hide">
                                                                Text answer is required
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 col-md-offset-1">
                                                            <button type="submit" class="btn btn-success">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane">
                        <div class="uk-margin-top">
                            <div class="uk-tab tab-nubric third-tab">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="circle-steps active">
                                        <a href="">
                                            <span class="number active">1</span>
                                            <span class="fa fa-check-circle completed-check"></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div id="page_content_inner">
                                            <h4 class="uk-margin-bottom-remove uk-margin-top text-center cent-heading">has the key, you need to create a class that has public fields or properties matching the field names on your JSON string, example:</h4>
                                            <p class="dec-inn">has the key, you need to create a class that has public fields or properties matching the field names on your JSON string, example:</p>
                                            <div class="md-card uk-margin-top">
                                                <div class="md-card-content">
                                                    <div class="row marbot10">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-10">
                                                            Progress Bar
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                    </div>
                                                    <div class="row marbot10">
                                                        <div class="col-md-1"></div>
                                                        <div class="form-control-filled col-md-10">
                                                            <textarea type="text" class="form-control"></textarea>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <p class="error-msg hide">
                                                                Text answer is required
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 col-md-offset-1">
                                                            <button type="submit" class="btn btn-success">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script src="~/JS/Resources/Performance/EmployeePerformanceJS.js"></script>