<html>
<body style="color:grey; font-size:15px;">
    <font face="Helvetica, Arial, sans-serif">

        <div style="position:absolute; height:100px;
width:600px; background-color:0d1d36; padding:30px;">
            <img src="~/img/logo_main.png" />
        </div>
        <label>Hi {0}, </label>
        <br />
        <br />

        <div style="background-color: #ece8d4;
width:600px; height:200px; padding:30px; margin-top:30px;">           
            <p>
                Your performance review is coming up,and it's time to enter your self-assessment. Don't worry,
                it's easy-just login to Evolution and get started.The deadline for review completion is {1}.
                <br />
                Your performance review is great way to formally discuss your career goals,and to work out a plan of 
                action that will benifit both you and your company.
                <br />
                Once you complete your self-assensment,it will be shared with the manager in charge of your formal 
                review.
                <br>
                Click Here to login to <a>Evolution</a>
            </p>
        </div>
</body>
</html>