<html>
<body style="color:grey; font-size:15px;">
<font face="Helvetica, Arial, sans-serif">

<div style="position:absolute; height:100px;
width:600px; background-color:0d1d36; padding:30px;">
<img src="~/img/logo_main.png" />
</div>
<br/>
<br/>

<div style="background-color: #ece8d4;
width:600px; height:200px; padding:30px; margin-top:30px;">

<p>Hi {0},<p>

<p>Well Done! {1} has just Endorsed you.</p>
    <p>
        Please Login to
        <a href="">Evolution</a>to see the skills endorsed and the associated comments.
        <br>
        Keep up the great work!
    <p>
</div>
</body>
</html>