<html>
<body style="color:grey; font-size:15px;">
    <font face="Helvetica, Arial, sans-serif">

        <div style="position:absolute; height:100px;
width:600px; background-color:0d1d36; padding:30px;">
            <img src="~/img/logo_main.png" />
        </div>
        <br />
        <br />

        <div style="background-color: #ece8d4;
width:600px; height:200px; padding:30px; margin-top:30px;">

            <p>Hi {0},<p>

            <p>
                You have been invited to endorse {1} xyz Skill. This process is designed to gather multiple views and help to build a more accurate employee picture.
                To accept the invitation and endorse {1}, please follow this link.
                {2}
                To decline the invitation and opt out, please click here {3}
            </p>
        </div>
</body>
</html>