<html>
<body style="color:grey; font-size:15px;">
    <font face="Helvetica, Arial, sans-serif">

        <div style="position:absolute; height:100px;
width:600px; background-color:0d1d36; padding:30px;">
            <img src="~/img/logo_main.png" />
        </div>
        <br />
        <br />
        <div style="background-color: #ece8d4;
width:600px; height:200px; padding:30px; margin-top:30px;">

            <p>Hi {0},<p>
            <br />            
            <p>
                You have been invited to provide feedback as part of your {2} as part of their performance review. This is a process called
                360 degree feedback, and is designed to gather multiple views to help build a more accurate 
                picture.
                Your feedbak is only visible to HR and manager of the individual you provide feedback for,but
                please remember to remain polite and professional while providing as much detail as possible.
                To accept the invitation and leave your feedback,please follow this link
                {3}
                To decline the invitation and opt out, please click here
                <br />
                
            </p>
        </div>
</body>
</html>