<!--<html>
<body style="color:grey; font-size:15px;">
    <font face="Helvetica, Arial, sans-serif">

        <div style="position:absolute; height:100px;
width:600px; background-color:0d1d36; padding:30px;">
            <img src="~/img/logo_main.png" />
        </div>
        <br />
        <br />
        <div style="background-color: #ece8d4;
width:600px; height:200px; padding:30px; margin-top:30px;">

            <p>Hi {0},<p>
            <br />
            <p>
                {1} has temporarily un-shared the feedback left on your performance review. This is probably because they want to make a few changes.
                There is nothing for you to do right now.You will be notified as soon as it has been edited and re-shared.
                <br />

            </p>
        </div>
</body>
</html>-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Evolution</title>
</head>

<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div style="font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td></td>
                    <td bgcolor="#FFFFFF ">
                        <div style="padding: 0px;width: 600px;margin: 0 auto;display: block;border-radius: 0px;padding: 0px;border: 1px solid #d8d8d8;">
                            <table style="width: 600px;background: #202428 ;">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div>
                                                <table width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2" style="text-align:center;padding:10px;">
                                                                <img style="float:left; " src="http://50.63.160.88/Evalution/img/logo_main.png">

                                                             
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table style="padding: 10px;font-size:14px; width:600px;">
                                <tbody style="background-color: #f3f3f3;">
                                    <tr>
                                        <td style="padding:10px;font-size:14px; width:600px;">
                                            <p style="padding :12px;border-bottom :2px dotted;">
                                                Hi <b>{0},</b>
                                            </p><br /><br /> <p>
                                                {1} has temporarily un-shared the feedback left on your performance review. This is probably because they want to make a few changes.
                                                There is nothing for you to do right now.You will be notified as soon as it has been edited and re-shared.
                                                <br />

                                            </p>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>