@model HRTool.Models.Resources.EmployeeSignatureViewModel

<input type="hidden" id="SignatureID" value="@Model.Id" />

<div class="row marbot10">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 dropdown">
        Invitation to sign document has been sent successfully.
    </div>
    <div class="col-md-3">
        @*<span class="field-validation-error" id="lbl-error-SignatureText" style="display:none;" data-valmsg-for="SignatureText" data-valmsg-replace="true">SignatureText  is required.</span>*@
    </div>
</div>