@model HRTool.Models.Resources.EmployeePlanner_publicHoliday_CountyWiseViewModel

<div class="row marbot10">
    <div class="col-md-3">
        <label class="control-label" for="StatusList">Reason</label>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" value="@Model.Name" readonly="readonly" />        
    </div>
    <div class="col-md-3">

    </div>
</div>
<div class="row marbot10">
    <div class="col-md-3">
        <label class="control-label" for="StatusList">Date</label>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" value="@Model.Date" readonly="readonly" />
    </div>
    <div class="col-md-3">
        
    </div>
</div>

